    /* Hentning af Fonte */
    @font-face {
        font-family: 'chicle';
        src: url('/font/chicle-regular-webfont.woff') format('woff'),
            url('/font/chicle-regular-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'jua';
        src: url('/jua-regular-webfont.woff2') format('woff2'),
            url('/font/jua-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    :root {
        /* Farver */
        --text-beige: #fee1bb;

        --text-navy: #010854;

        --border: #ff0092;

        --button: #ff0092;

        --link: #ff0092;

        --hover: #ff0092;

        --line-banner: #fee1bb;

        --box: linear-gradient(#fee1bb, rgba(0, 0, 255, 0));

        /* Typografi */
        /* Størrelser */
        --font-size-h1: 3rem;
        --font-size-h3: 2rem;
        --font-size-base: 1rem;
        --font-size-banner: 2rem;
        --font-size-button: 2rem;
        /* Fonte */
        --font-chicle: 'chicle', Arial, sans-serif;
        --font-jua: 'jua', Arial, sans-serif;
        --font-arial: Arial, sans-serif;

  
        /* Border radius */
        --border-radius-corner: 50px;
        --border-radius-round: 1000px;
        --border-radius-textbox: 25px;
        --border-radius-small: 0.25rem;

        /* Padding */
        --padding-button: 10px 50px;

        /* border */
        --border-img: 5px solid #ff0092;

        /* Box shadow */
        --shadow-default: -1px 3px 30px -1px #ff0092;
        --shadow-hover: 0 0 50px 2px #ff0092;
        --shadow-small: 0 2px 4px 0 hsl(0 0% 0% / 20%);
    }

    /* ------
  Resets / normalize
------ */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        height: 100%;
        background-image: url(/img/cphlfbackground.png);
        background-size: cover;
    }

    body {
        height: 100%;
        line-height: 1.6;
        color: var(--text-beige);
        overscroll-behavior-block: none;
    }

    h1,
    h2,
    h3 {
        color: var(--text-beige);
    }

    h1,
    h2 {
        line-height: 1.125;
    }


    h1 {
        font-family: var(--font-chicle);
        font-size: var(--font-size-h1);
    }

    h2 {
        font-family: var(--font-chicle);
    }

    h3 {
        font-family: var(--font-jua);
        font-size: var(--font-size-h3);
    }

    p {
        font-family: var(--font-arial);
        font-size: var(--font-size-base);
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: var(--border-radius-corner);
    }

    hr {
        color: var(--line);
        width: 50%;
    }


    .box_text {
        color: var(--text-navy);
    }

    .link {
        text-decoration: none;
        color: var(--link);
        font-size: var(--font-size-base);
        font-family: var(--font-chicle);
    }

    .link:hover {
        text-decoration: underline;
    }