---
export async function getStaticPaths() {
  const data = await fetch("https://sxdcfbtekrznubmimpmp.supabase.co/rest/v1/cphlf2",{
		method:"GET",
	headers: {
		apikey:
		"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGNmYnRla3J6bnVibWltcG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU3MjM3OTgsImV4cCI6MjAxMTI5OTc5OH0.SWGKNpOWij6-SQRCZs_H00PzCW70M2cG6_IYIIAjI1k"
	},
}).then(response => response.json());

  return data.map((artwork) => {
    return {
      params: { slug: artwork.slug },
      props: { myData:artwork },
    };
  });
}

const {myData}=Astro.props
---
<h1>{myData.bio}</h1>
