---
const data = await fetch(
  "https://sxdcfbtekrznubmimpmp.supabase.co/rest/v1/cphlf2",

  {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGNmYnRla3J6bnVibWltcG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU3MjM3OTgsImV4cCI6MjAxMTI5OTc5OH0.SWGKNpOWij6-SQRCZs_H00PzCW70M2cG6_IYIIAjI1k",
    },
  }
).then((res) => res.json());

import "../global_css/style.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import ImgButton from "../components/ImgButton.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <title>Forside</title>
  </head>
  <Nav />
  <body>
    <main>
      <a href=""></a>
      <video width="100%" height="auto" autoplay muted>
        <source src="./public/copenhagen.mp4" type="video/mp4" />
      </video>
      <Banner />
      <div class="gridbutton">
        <div class="firstbutton">
          <ImgButton img="https://copenhagenlightfestival.org/wp-content/uploads/2023/02/MANDALEG.jpeg" />
          <div class="centered"><a href="/liste/">2024</a></div>
        </div>
        <div class="firstbutton">
          <ImgButton img="https://copenhagenlightfestival.org/wp-content/uploads/2023/02/image00001.jpeg" />
          <div class="centered">FAQ</div>
        </div>
        <div class="firstbutton">
          <ImgButton img="https://copenhagenlightfestival.org/wp-content/uploads/2023/02/Our-Beating-Heart.jpg" />
          <div class="centered">PERMANENT</div>
        </div>
      </div>
      <hr />
      <div class="gridabout">
        <div>
          <h4>What is Copenhagen light Festival?</h4>
          <div class="paddingboks">
            <p class="pnavy">Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen. In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
          </div>
        </div>
        <div>
          <h4>Substainbility</h4>
          <div class="paddingboks">
            <p class="pnavy">Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen. In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
          </div>
        </div>
      </div>
      <h5>Fonde</h5>
      <div class="gridimg">
        <img src="img/logo1.png" alt="logo1" class="glypto" />
        <img src="img/logo2.png" alt="logo2" class="nordbro" />
        <img src="img/logo3.png" alt="logo3" class="ano" />
        <img src="img/logo4.png" alt="logo4" class="kbh" />
      </div>
    </main>

    <style>
      .gridbutton {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 130px;
        margin-top: 100px;
      }
      hr {
        width: 1250px;
        margin: 100px;
      }
      .gridabout {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .paddingboks {
        background-color: var(--text-beige);
        padding: 30px;
        margin: 80px;
        border-radius: 30px;
        margin-top: 20px;
      }
      h4 {
        text-align: center;
        font-size: var(--font-size-banner);
      }
      .pnavy {
        color: var(--text-navy);
      }
      h5 {
        text-align: center;
        font-size: var(--font-size-button);

        margin-top: 80px;
        margin-bottom: 30px;
      }
      .gridimg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 100px;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-family: "chicle";
        font-weight: normal;
        font-size: 350%;
        color: var(--text-beige);
      }
      .firstbutton {
        position: relative;
        text-align: center;
        color: white;
      }
      .glypto {
        width: 250px;
        height: auto;
      }
      .nordbro {
        width: 250px;
        height: auto;
      }
      .ano {
        width: 250px;
        height: auto;
      }
      .kbh {
        width: 200px;
        height: auto;
      }

      /* var(--text-navy)
    var(--text-beige)
    */
    </style>
  </body>
</html>
