---
const data = await fetch(
  "https://sxdcfbtekrznubmimpmp.supabase.co/rest/v1/cphlf2",

  {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGNmYnRla3J6bnVibWltcG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU3MjM3OTgsImV4cCI6MjAxMTI5OTc5OH0.SWGKNpOWij6-SQRCZs_H00PzCW70M2cG6_IYIIAjI1k",
    },
  }
).then((res) => res.json());

import "../global_css/style.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import ImgButton from "../components/ImgButton.astro";
import Tekstbox from "../components/TekstBox.astro";
import Tekstbox2 from "../components/TekstBox2.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <title>Forside</title>
  </head>
  <Nav />
  <body>
    <main>
      <h1>Forside</h1>
      <a href=""></a>
      <Banner />
      <div class="gridbutton">
        <div class="firstbutton">
          <ImgButton />
        </div>
        <ImgButton />
        <ImgButton />
      </div>
      <hr />
      <div class="gridabout">
        <div>
          <Tekstbox>
            <h3 slot="h3">What is copenhagen light bla bla</h3>
            <p slot="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, reiciendis? Consequuntur, ratione? Earum ab dignissimos voluptas quis neque doloribus excepturi, deleniti harum doloremque magni voluptatem eveniet magnam! Distinctio, hic corporis?</p>
            <p slot="p2">HEJ MED DIGIIIIIIIIIIIIIIIIIIIG</p>
          </Tekstbox>
        </div>
        <div>
          <Tekstbox2>
            <h3 slot="h3">What is copenhagen light blaedgfaebrfaerf bla</h3>
            <p slot="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, reiciendis? Consequuntur, ratione? Earum ab dignissimos voluptas quis neque doloribus excepturi, deleniti harum doloremque magni voluptatem eveniet magnam! Distinctio, hic corporis?</p>
            <p slot="p2">HEJ MED DIGIIIIIIIIIIIIIIIIIIIG</p>
          </Tekstbox2>
        </div>
      </div>

      <h5>Partner</h5>
      <div class="gridimg">
        <img src="img/logo1.png" alt="logo1" class="glypto" />
        <img src="img/logo2.png" alt="logo2" class="nordbro" />
        <img src="img/logo3.png" alt="logo3" class="ano" />
        <img src="img/logo4.png" alt="logo4" class="kbh" />
      </div>
    </main>

    <style>
      .gridbutton {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 130px;
        margin-top: 100px;
      }
      hr {
        width: 1250px;
        margin: 100px;
      }
      .gridabout {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        text-align: center;
        font-size: var(--font-size-banner);
      }

      h5 {
        text-align: center;
        font-size: var(--font-size-banner);
        margin-bottom: 100px;
        margin-top: 20px;
      }
      .gridimg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .nordbro {
        width: 300px;
        height: auto;
      }

      /* var(--text-navy) 
    var(--text-beige)
    */
    </style>
  </body>
</html>
