---

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Singleview</title>
	</head>
	<body>
		
		<h1>INSEKTERNES BLIK</h1>
		<img class="img_single" src="" alt="#">

		<article class="info1">
		<p class="who">Anna Rosa Hiort-Lorenzen (DK)</p>
		<p class="where">Vestre Kirkegård, entrance from Sjælør Boulevard</p>
		<p class="bio">Here on Earth, we coexist with creatures who are most likely experiencing the world in very different ways than we do. Insects can see more light frequencies than us since they are capable of perceiving ultraviolet wavelengths. This means that they see colours that we cannot. In daylight, this piece is an installation with branches, leaves, seed pods, fungal hyphae and roots, but when darkness falls, the sculptures light up in ultraviolet hues. The installation illustrates the way we humans observe the natural world around us in daylight, as well as how insects see things at night. All plant life in this installation stems from Vestre Kirkegård.
As a textile and light designer, Anna Rosa Hiort-Lorenzen has developed her own field in which she works with changes in light and darkness and the intersection between kong the two. She draws her inspiration from Estonian biologist Jakob von Uexkull’s concept of Umwelt and his thoughts about how living creatures with different species specific, spatial, temporal and subjective reference frames experience their surroundings.mer oplever deres omgivelser.</p>
		</article>

		<article class="info2">
			<p class="link_titel">Links</p>
			<a class="link" href="#">#</a>
			<a class="social_medie" href="https://www.instagram.com/rosa.deer/"></a>
			<p class="tak_titel">Thanks to</p>
			<p class="tak_tekst">Bavnehøj Områdefornyelse</p>
		</article>

		
	</body>
</html>
