---
import "../global_css/style.css";
---

<button>
  <slot />
</button>

<style>
  button {
    background-color: var(--button);
    padding: var(--padding-button);
    border-radius: var(--border-radius-round);
    font-family: var(--font-chicle);
    font-size: var(--font-size-button);
    color: var(--text-beige);
    text-decoration: none;
    box-shadow: var(--shadow-default);
    border: none;
    margin-right: 100px;
  }

  button:hover {
    box-shadow: var(--shadow-hover);
  }
</style>
