---

---

<section style="margin-top: 150px;">
  <a>
    <slot />
  </a>
</section>

<style>
  a {
    background-color: var(--button);
    padding: var(--padding-button);
    border-radius: var(--border-radius-round);
    font-family: var(--font-chicle);
    font-size: var(--font-size-button);
    color: var(--text-beige);
    text-decoration: none;
    box-shadow: var(--shadow-default);
    border: none;
    display: block;
    margin: 0 auto;
  }

  a:hover {
    box-shadow: var(--shadow-hover);
  }

  section {
    display: flex;
    flex-direction: column;
  }
</style>
