---

---

<a class="custom-button">
  <slot />
</a>

<style>
  a.custom-button {
    background-color: var(--button);
    padding: var(--padding-button);
    border-radius: var(--border-radius-round);
    font-family: var(--font-chicle);
    font-size: var(--font-size-button);
    color: var(--text-beige);
    text-decoration: none;
    box-shadow: var(--shadow-default);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  a.custom-button:hover {
    box-shadow: var(--shadow-hover);
  }
</style>
