---
import "../global_css/style.css";
const { img } = Astro.props;
---

<a href="#">
  <img src={img} alt="" height="350" width="350" />
</a>

<style>
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: var(--border-img);
    box-shadow: var(--shadow-default);

    display: block;
  }

  img:hover {
    box-shadow: var(--shadow-hover);
  }
</style>
