---
import "../global_css/style.css";
---

<a href="#">
  <img src="./img/sneugle.jpg" alt="test" />
</a>

<style>
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: var(--border-img);
    box-shadow: var(--shadow-default);
  }

  img:hover {
    box-shadow: var(--shadow-hover);
  }
</style>
