<a id="button"></a>

<style>
  #button {
    display: inline-block;
    background-color: var(--line-banner);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition:
      background-color 0.3s,
      opacity 0.5s,
      visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--button);
  }
  #button:hover {
    cursor: pointer;
    background-color: var(--button);
  }
  #button:active {
    background-color: var(--line-banner);
  }

  #button:hover::after {
    color: var(--line-banner);
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  /* Styles for the content section */

  .content {
    width: 77%;
    margin: 50px auto;
    font-family: "Merriweather", serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
</style>

<script>
  var btn = document.getElementById("button");

  window.addEventListener("scroll", function () {
    if (window.scrollY > 300) {
      btn.classList.add("show");
    } else {
      btn.classList.remove("show");
    }
  });

  btn.addEventListener("click", function (e) {
    e.preventDefault();
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
