<article>
  <slot name="h3" slot="h3" />
  <div class="card" id="card2">
    <input id="chh" type="checkbox" />
    <slot name="p1" slot="p1" />
    <div class="content">
      <slot name="p2" slot="p2" />
      <label for="chh" class="show-less-label">Show less</label>
    </div>
    <label for="chh" class="read-more-label">Read more</label>
  </div>
</article>
<style>
  .card {
    background: linear-gradient(to bottom, #fee1bb, rgba(37, 38, 39, 0));
    color: #010854;
    padding: 30px 30px 10px 30px;
    margin: 80px;
    border-radius: 30px;
    margin-top: 20px;
  }

  #chh {
    display: none;
  }

  #card2.show-content {
    background-color: #fee1bb;
  }
  #card2.show-content .content {
    display: block;
  }

  #card2.show-content label[for="chh"] {
    display: inline-block;
  }

  .content {
    display: none;
  }

  .show-less-label {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .read-more-label {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  label {
    display: inline-block;
    cursor: pointer;
    color: #ff0092;
    font-family: var(--font-jua);
    text-decoration: underline;
  }
</style>

<script>
  document.querySelectorAll('.card input[type="checkbox"]').forEach(function (checkbox) {
    checkbox.addEventListener("change", function () {
      var card = this.closest(".card");
      if (this.checked) {
        card.classList.add("show-content");
        card.querySelector(".read-more-label").style.display = "none";
        card.querySelector(".show-less-label").style.display = "inline-block";
      } else {
        card.classList.remove("show-content");
        card.querySelector(".read-more-label").style.display = "inline-block";
        card.querySelector(".show-less-label").style.display = "none";
      }
    });
  });
</script>
