<article>
  <slot name="h3" slot="h3" />
  <div class="card paddingboks" id="card">
    <input id="ch" type="checkbox" />
    <slot name="p1" slot="p1" />
    <div class="content">
      <slot name="p2" slot="p2" />
      <label for="ch" class="show-less-label">Show less</label>
    </div>
    <label for="ch" class="read-more-label">Read more</label>
  </div>
</article>
<style>
  .card {
    background: linear-gradient(to bottom, #fee1bb, rgba(37, 38, 39, 0));
    color: #010854;
  }

  .paddingboks {
    padding: 30px;
    margin: 80px;
    border-radius: 30px;
    margin-top: 20px;
  }

  #ch {
    display: none;
  }

  #card.show-content {
    background-color: #fee1bb;
  }
  #card.show-content .content {
    display: block;
  }

  #card.show-content label[for="ch"] {
    display: inline-block;
  }

  .content {
    display: none;
  }
  label {
    display: inline-block;
    cursor: pointer;
    color: #ff0092;
    font-family: var(--font-jua);
    text-decoration: underline;
  }
</style>

<script>
  document.getElementById("ch").addEventListener("change", function () {
    var card = document.getElementById("card");
    if (this.checked) {
      card.classList.add("show-content");
      document.querySelector(".read-more-label").style.display = "none";
      document.querySelector(".show-less-label").style.display = "inline-block";
    } else {
      card.classList.remove("show-content");
      document.querySelector(".read-more-label").style.display = "inline-block";
      document.querySelector(".show-less-label").style.display = "none";
    }
  });
</script>
