<div class="card" id="card">
  <input id="ch" type="checkbox" />
  <h4>What is Copenhagen light Festival?</h4>
  <p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen. In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
  <div class="content">
    <p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen. In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
    <label for="ch" class="show-less-label">Show less</label>
  </div>
  <label for="ch" class="read-more-label">Read more</label>
</div>

<style>
  .card {
    background: linear-gradient(to bottom, #fee1bb, rgba(37, 38, 39, 0));
    color: #010854;
  }

  #ch {
    display: none;
  }

  #card.show-content {
    background-color: #fee1bb;
  }
  #card.show-content .content {
    display: block;
  }

  #card.show-content label[for="ch"] {
    display: inline-block;
  }

  .content {
    display: none;
  }
  label {
    display: inline-block;
    cursor: pointer;
    color: #ff0092;
  }
</style>

<script>
  document.getElementById("ch").addEventListener("change", function () {
    var card = document.getElementById("card");
    if (this.checked) {
      card.classList.add("show-content");
      document.querySelector(".read-more-label").style.display = "none";
      document.querySelector(".show-less-label").style.display = "inline-block";
    } else {
      card.classList.remove("show-content");
      document.querySelector(".read-more-label").style.display = "inline-block";
      document.querySelector(".show-less-label").style.display = "none";
    }
  });
</script>
